body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(219, 219, 219, 0.545);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display:none
}
body,html {
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display:none
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  ::-webkit-scrollbar{
    display:none
  }
}

/* @layer base {
  ul, ol {
    list-style: revert;
  }
} */